<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Greenery" type="Greenery.Event.GreeneryEventConfigurationSection, Greenery.Event"/>
  </configSections>
  <Greenery>
  </Greenery>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
